@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(0, 0, 0, .2);
}

label {
  font-weight: 600;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
  margin: 10px 10px 50px 10px;
  background: #fff;
  border-radius: 5px;
}

.el-dialog {
  border-radius: 4px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px !important;

  .filter-item {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-bottom: 10px !important;
  }

  .search-item {
    margin-right: 10px !important;
    width: 190px !important;
  }

  .date-range-item {
    width: 240px !important;
  }
  .el-date-editor--datetimerange {
    width: 390px !important;
  }

  .el-date-editor .el-range-separator {
    line-height: 26px;
    vertical-align: super;
  }

  .el-date-editor .el-range-input {
    vertical-align: top !important;
  }
}

.table-operation {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//.el-button:not(.is-circle,.is-round), .el-input__inner {
//  border-radius: 3px !important;
//}

.el-input {
  font-size: .85rem !important;

}

.filter-container .el-button {
  font-weight: 500;
  margin-left: 0 !important;
  margin-right: 10px !important;
}

.el-submenu__title {
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255) !important;

  i {
    color: rgb(255, 255, 255) !important;
    margin-right: 10px !important;
    margin-left: 10px;
  }
}

li.el-menu-item {
  color: rgb(255, 255, 255) !important;
}

.el-tooltip__popper {
  max-width: 500px !important;
  font-size: .88rem;
}

.el-step__title.is-process {
  font-weight: 400;
  font-size: 15px !important;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 15px;
}

.el-transfer-panel__list, .el-transfer-panel__body {
  height: 410px;
}

.el-transfer-panel {
  width: 313px;
}

.no-perm {
  margin-left: 5px;
}
.el-dialog__title {
  font-size: 17px;
}
.el-input__inner {
  height: 38px !important;
  line-height: 38px !important;
}

.el-input--mini .el-input__inner, .el-pagination__editor.el-input .el-input__inner {
  height: 28px !important;
  line-height: 28px !important;
}

.el-menu-item.is-active {
  background-color: #1f2328 !important;
}

.el-button {
  padding: 11px 20px !important;
}
.el-form-item {
  margin-bottom: 20px;
}
.el-table thead {
  color: #606266;
}
.el-table td {
  padding: 9px 0;
}

.el-table th {
  padding: 9px 0;
}

.el-input-number {
  line-height: 36px;
}

.menu-wrapper.nest-menu .el-submenu__title {
  padding-left: 63px !important;
}

.el-divider--horizontal {
  margin: 15px 0;
}

.vue-treeselect__placeholder, .vue-treeselect__single-value {
  line-height: 40px !important;
  height: 40px !important;
  padding-left: 10px !important;
}

.vue-treeselect__single-value {
  color: #606266 !important;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #dfe4ed  !important;
}

.el-descriptions {
  padding: 10px 15px;
}

.el-collapse {
  border-top: none;
}

.el-descriptions__title {
  font-size: 15px;
}

.el-descriptions-item__label {
  font-weight: 600;
}

.el-collapse-item__header {
  font-size: 15px;
  font-weight: 600;
}
.el-card {
  border-radius: 4px !important;
}

.sidebar-title {
  margin-top: 4px;
}

.el-breadcrumb__inner a {
  color: #606266;
}

.el-button--warning.is-plain:active, .el-button--warning.is-plain:hover, .el-button--warning.is-plain:focus {
  background: #faad14 !important;
  color: #fff !important;
  border: 1px solid #faad14 !important;
}

.el-tag.el-tag--warning {
  color: #fa8c16 !important;
  background: #fff7e6 !important;
  border: 1px solid #ffd591 !important;
}

// ------ 白色主题 -----------
#app .sidebar-container.white {
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0,0,0,.15);
  .sidebar-logo-container {
    background-color: #fff;

    .sidebar-title {
      color: #588fec;
      font-weight: bold;
    }
  }

  .el-scrollbar {
    .el-menu {
      background-color: #fff !important;

      .el-submenu__title {
        background-color: #fff !important;
        color: #606266 !important;
        font-weight: 600;

        i {
          color: #606266 !important;
        }
      }

      .el-menu-item {
        background-color: #fff !important;
        color: #606266 !important;
        font-weight: 600;

        i {
          color: #606266 !important;
        }

        &.is-active {
          background-color: rgba(62, 121, 247, .1) !important;
          border-right: 3px solid #588fec;
        }
        &:hover {
          background-color: rgba(62, 121, 247, .1) !important;
          color: #588fec !important;
        }
      }

      .router-link-exact-active {
        span {
          color: #588fec !important;
        }
      }
    }
  }
}

.amap-icon {
  img {
    width: 40px;
  }
}

.amap-marker-label {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  position: fixed;
  top: 1rem;
  background-color: white;
  border-width: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .12);
}

// ---- apexcharts 样式修改 -------
.apexcharts-tooltip {
  font-size: 13px;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 2px 1px 5px 0 rgba(82, 63, 105, 0.15);
  border: 0!important;
  border-radius: 4px;
  .apexcharts-tooltip-title {
    background: #f3f6f9!important;
    border: 0!important;
    padding: .5rem 1rem;
    margin-bottom: 4px;
  }
}
.apexcharts-xaxistooltip {
  opacity: 0;
  padding: 9px 10px;
  pointer-events: none;
  color: #373d3f;
  font-size: 13px;
  text-align: center;
  position: absolute;
  z-index: 10;
  transition: 0.15s ease all;
  box-shadow: 2px 1px 5px 0 rgba(82, 63, 105, 0.15);
  border: 0!important;
  background: #fff!important;
  border-radius: 4px;
  &:before {
    border-color: rgba(144, 164, 174, 0) !important;
    border-width: 7px;
    margin-left: -7px;
    border-bottom: 0;
  }
  &:after {
    border-bottom-color: #fff!important;
  }
}

.amap-info-close {
  right: 5px !important;
  &:hover {
    color: red;
  }
}
