#loginLayout {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/background.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;

  .login_page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .login_page_right {
      background-image: url("~@/assets/login_left.svg");
      background-size: cover;
      width: 46%;
      height: 58%;
      margin-left: -10%;
    }

    .login_page_form {
      width: 420px;
      background-color: #fff;
      padding: 40px 50px;
      border-radius: 10px;
      margin-left: -10%;
      box-shadow: 2px 2px 8px  rgba(0,0,0,.12);

      .login_page_form_title {

        display: flex;
        align-items: center;
        margin: -20px 0 10px 13%;

        .login_page_form_title_logo {
          width: 36px;
          height: 36px;
        }

        .login_page_form_title_p {
          font-size: 23px;
          font-weight: 600;
          padding: 0 10px;
        }
        .set-language {
          font-size: 19px;
          cursor: pointer;
        }
      }
      .login-form {
        .code-input {
          display: inline-block;
          .left {
            display: inline-block;
            float: left;
          }
          .right {
            display: inline-block;
            float: right;
            cursor: pointer;
          }
        }
      }
      .social-wrapper {
        margin: 10px 0 20px 0;
        .logo-wrapper {
          display: inline-block;
          margin: 10px 0;
          img {
            width: 1.9rem;
            display: inline-block;
            margin: .8rem .8rem -.8rem .8rem;
            cursor: pointer;
            border-radius: 3px;
          }
        }
      }
    }

    .login_page_foot {
      position: absolute;
      bottom: 20px;

      .links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link-icon {
          width: 30px;
          height: 30px;
        }
      }

      .copyright {
        color: #606266;
        margin-top: 5px;
        font-size: 13px;
      }
    }
  }

}

@media (max-width: 750px) {
  .login_page_right {
    display: none;
  }
  .login_page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .login_page_form {
    width: 100%;
  }
}

